# Jira Move - BTS Transitions

backlog=Backlog
ready=Ready for Development
in-progress=In Development
code-review=Code Review
ready-for-qa=Ready for QA
in-qa=In QA
review=In Review
verify=Verified
complete=Completed.

Backlog=221=Ready for Development,301=Cancelled,441=Internal,451=Blocked
Code Review=321=Ready for QA,361=Ready for Development
In Development=311=Code Review,421=Ready for Development
In QA=251=In Review,361=Ready for Development
In Review=261=Verified,361=Ready for Development
Ready for Development=231=In Development,241=Backlog,301=Cancelled
Ready for QA=361=Ready for Development,391=In QA
Verified=361=Ready for Development,371=Completed.
