# Jira Move - Milestones
PIPELINE=backlog,ready,in-progress,code-review,ready-for-qa,in-qa,review,verify,complete

backlog=Backlog
ready=Ready for Development,Ready to Do
in-progress=On Development,Doing,Do-ing,On going,In Progress,In Development
code-review=Code Review
ready-for-qa=Ready For QA
in-qa=In QA
review=TM Review,In Review
verify=On Staging,On Production,Verified
complete=Completed,Completed.
