# Jira Move - RMASUP Transitions

backlog=Backlog
ready=Ready for Development
in-progress=In Progress
code-review=Code Review
ready-for-qa=Ready for QA
in-qa=In QA
review=TM Review
verify=On Staging
complete=Completed

Backlog=10=Blocked,221=Ready for Development,3=Completed
Code Review=10=Blocked,2=Ready for QA,361=Ready for Development
In Progress=10=Blocked,311=Code Review,351=Ready for Development
In QA=10=Blocked,361=Ready for Development,481=TM Review
On Staging=10=Blocked,361=Ready for Development,5=On Production
Ready for Development=10=Blocked,231=In Progress,241=Backlog
Ready for QA=10=Blocked,361=Ready for Development,7=In QA
TM Review=10=Blocked,361=Ready for Development,4=On Staging
